<div class="controles">
  <h3>Control Mensual de Patrimonio</h3>
  <div class="mes-selector">
    @for ( month of meses ; track month) {
    <button class="mes-btn" [class.active]="mesActual() === month" (click)="cambiarMes(month)">
      {{ month | titlecase }}
    </button>
    }
  </div>
</div>

<div class="grid">
  @for (campo of campos; track campo.key) {
  <div class="card" [ngClass]="{ transparent: campo.key === 'invisible' }">
    <h3>{{ campo.label }}</h3>
    <div class="input-euro">
      <input type="number" [(ngModel)]="datos()[campo.key]" (change)="actualizarDatos()" />
      <span class="euro">€</span>
    </div>
  </div>
  }
</div>

<div class="charts-container">
  <div class="chart-card">
    <h3>EVOLUCIÓN</h3>
    <div class="chart-container">
      <canvas
        baseChart
        [datasets]="[{ data: evolucionData(), backgroundColor: '#ffa500', borderRadius: 4 }]"
        [labels]="evolucionLabels"
        [options]="chartEvolucionOptions"
        type="bar"
      >
      </canvas>
    </div>
  </div>
  <div class="chart-card">
    <h3>DISTRIBUCIÓN</h3>
    <div class="chart-container">
      <canvas
        baseChart
        [datasets]="[
          {
            data: distribucionData(),
            backgroundColor: ['#6495ED', '#32CD32', '#4169E1', '#9370DB', '#87CEEB', '#FFA500']
          }
        ]"
        [labels]="distribucionLabels"
        [options]="chartDistribucionOptions"
        [plugins]="plugins"
        type="doughnut"
      >
      </canvas>
    </div>
  </div>

  <div class="chart-card full-width">
    <h3>VARIACIÓN MENSUAL</h3>
    <div class="chart-container">
      <canvas
        baseChart
        [datasets]="variacionDataset()"
        [labels]="evolucionLabels"
        [options]="chartVariacionOptions"
        type="bar"
      >
      </canvas>
    </div>
  </div>
</div>
